/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* para darle diseños a las barritas de los mensajes */
.style-snackBarTrue {
  background-color: #23c51e;
  color: white;
}

.style-snackBarFalse {
  background-color: #e21818;
  color: white;
}
